/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --link-hover: #F1B2CE;
  --theme-background-clr: #00183F;
  --button-lable-color: #FF0070;
  --button-border-color: #FF0070;
  --bttn-brdr-clr-hvr: rgba(255, 0, 112, 0.40);
  --bttn-clr-focus:#FF0070;
  --cover-img: url('../images/cover-image-dark.png');
  --title-txt-clr: #DB00FF;
  --txt-shadow: 4px 4px 0px #FF0070;
  --subtitle-txt-clr:#000028;
  --subtitle-backgrnd:#FF0070;
  --main-content-subtitle:#FF0070;
  --main-subtitle-txt-clr: #000028;
  --main-txt-clr: #F1B2CE;
  --link-shadow: 2px 2px 0px #FF0070;
  --sub-subsection-title-txt-clr: #000028;
  --dec-el:#FF0070;
  --dis-none: visible; /* Элементы будут видимы в тёмной теме */
  --footer-shadow: 2px 2px 0px #FF0070;
}

@media (prefers-color-scheme:dark) {
  :root {
    --theme-background-clr: #000028;
    --button-lable-color: #FF0070;
    --button-border-color: #FF0070;
    --bttn-brdr-clr-hvr: rgba(255, 0, 112, 0.40);
    --bttn-clr-focus:#FF0070;
    --cover-img: url('../images/cover-image-dark.png');
    --title-txt-clr: #DB00FF;
    --txt-shadow: 4px 4px 0px #FF0070;
    --subtitle-txt-clr:#000028;
    --subtitle-backgrnd:#FF0070;
    --main-content-subtitle:#FF0070;
    --main-subtitle-txt-clr: #000028;
    --main-txt-clr: #F1B2CE;
    --link-shadow: 2px 2px 0px #FF0070;
    --sub-subsection-title-txt-clr: #000028;
    --dec-el:#FF0070;
    --dis-none: visible; /* Элементы будут видимы в тёмной теме */
    --footer-shadow: 2px 2px 0px #FF0070;
  }
}
