/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --link-hover: #353430;
  --theme-background-clr: #FFF1F7;
  --dis-none: none; /* Элементы будут скрыты в светлой теме */
  --button-border-color: #353430;
  --button-lable-color: #353430;
  --bttn-brdr-clr-hvr: rgba(50, 49, 45, 0.40);
  --bttn-clr-focus:#353430;
  --cover-img: url('../images/cover-image-light.png');
  --title-txt-clr: #FFC2E6;
  --subtitle-txt-clr:#353430;
  --subtitle-backgrnd:#FF8DCB;
  --txt-shadow: 4px 4px 0px #FF8DCB;
  --link-shadow: 2px 2px 0px #FF8DCB;
  --main-content-subtitle:#353430;
  --main-subtitle-txt-clr:#353430;
  --main-txt-clr: #353430;
  --sub-subsection-title-txt-clr:#353430;
  --dec-el:#353430;
  --footer-shadow: 2px 2px 0px #FF0070;
}

@media (prefers-color-scheme:light) {
  :root {
    --link-hover: #353430;
    --theme-background-clr: #FFF1F7;
    --button-border-color: #353430;
    --button-lable-color: #353430;
    --bttn-brdr-clr-hvr: rgba(50, 49, 45, 0.40);
    --bttn-clr-focus:#353430;
    --cover-img: url('../images/cover-image-light.png');
    --title-txt-clr: #FFC2E6;
    --subtitle-txt-clr:#353430;
    --subtitle-backgrnd:#FF8DCB;
    --txt-shadow: 4px 4px 0px #FF8DCB;
    --link-shadow: 2px 2px 0px #FF8DCB;
    --main-content-subtitle:#353430;
    --main-subtitle-txt-clr:#353430;
    --main-txt-clr: #353430;
    --sub-subsection-title-txt-clr:#353430;
    --dec-el:#353430;
    --dis-none:none;
    --footer-shadow: 2px 2px 0px #FF0070;
  }
}

.rec-label,
.rec-label::after {
  display: var(--dis-none);
}
