/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --button-border-color: #353430;
  --button-lable-color: #353430;
  --bttn-brdr-clr-hvr: rgba(50, 49, 45, 0.40);
  --bttn-clr-focus:#353430;
  --cover-img: url('/images/cover-image-light.png');
  --title-txt-clr: #FFC2E6;
  --subtitle-txt-clr:#353430;
  --subtitle-backgrnd:#FF8DCB;
  --txt-shadow: 4px 4px 0px #FF8DCB;
  --link-shadow: 1px 2px 0px #FF8DCB;
  --main-content-subtitle:#353430;
  --main-subtitle-txt-clr:#353430;
  --main-txt-clr: #353430;
  --sub-subsection-title-txt-clr:#353430;
  --dec-el:#353430;
  --dis-none: none; /* По умолчанию элементы скрыты */
}
