/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --link-hover: #353430;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --theme-background-clr: #FFF1F7;
  --button-border-color: #353430;
  --button-lable-color: #353430;
  --bttn-brdr-clr-hvr: rgba(50, 49, 45, 0.40);
  --bttn-clr-focus:#353430;
  --cover-img: url('/images/cover-image-light.png');
  --title-txt-clr: #FFC2E6;
  --subtitle-txt-clr:#353430;
  --subtitle-backgrnd:#FF8DCB;
  --txt-shadow: 4px 4px 0px #FF8DCB;
  --link-shadow: 2px 2px 0px #FF8DCB;
  --main-content-subtitle:#353430;
  --main-subtitle-txt-clr:#353430;
  --main-txt-clr: #353430;
  --sub-subsection-title-txt-clr:#353430;
  --dec-el:#353430;
  --dis-none: none; /* По умолчанию элементы скрыты */
  --footer-shadow: 2px 2px 0px #FF0070;
}
